<link rel="stylesheet" href="../css/styles/partials.css">

<footer>
    <form action="">
        <label for="">subscribe to newsletter</label>
        </br>
        <input type="email" name="" id="" placeholder="enter your email">
        <button type="submit">&RightArrow;</button>
    </form>
    <section class="foot flex">
        <%- include('./logo') %>
            <p>Designed by <span>IshDeveloper</span></p>
    </section>
</footer>