<link rel="stylesheet" href="../css/responsive/partials.css">

<nav class="grid">
    <button type="button" class="toggle-nav-bar" id="open-nav-bar">menu</button>
    <ul class="nav-bar desktop flex">
        <a href="/about">About</a>
        <a href="#">Shop</a>
        <a href="#">Blog</a>
        <a href="#">Categories</a>
    </ul>
    <div class="logo">
        <%- include('./logo') %>
    </div>
    <%- include('./socials') %>
</nav>
