<article class="socials flex">
    <a href="#">
        <iconify-icon icon="mdi:instagram"></iconify-icon>
    </a>
    <a href="#"><iconify-icon icon="mdi:pinterest"></iconify-icon></a>
    <a href="#">
        <iconify-icon icon="ic:baseline-tiktok"></iconify-icon>
    </a>
    <form action="" method="get">
        <article class="search-expanded flex">
            <input type="text" name="search" id="search" placeholder="search">
            <button type="button" id="close-search">&times;</button>
        </article>
        <button type="button" id="open-search"><iconify-icon icon="iconamoon:search"></iconify-icon></button>
    </form>
</article>