<link rel="stylesheet" href="../css/responsive/partials.css">

<article class="socials flex">
    <a href="#">
        <iconify-icon icon="mdi:instagram"></iconify-icon>
    </a>
    <a href="#"><iconify-icon icon="mdi:pinterest"></iconify-icon></a>
    <a href="#">
        <iconify-icon icon="ic:baseline-tiktok"></iconify-icon>
    </a>
    <form action="" method="get">
        <button type="button">&times;</button>
    </form>
</article>

<style>
    .socials {
        gap: 20px;
    }
</style>