<article class="socials flex">
    <a href="#">
        <iconify-icon icon="mdi:instagram"></iconify-icon>
    </a>
    <a href="#"><iconify-icon icon="mdi:pinterest"></iconify-icon></a>
    <a href="#">
        <iconify-icon icon="ic:baseline-tiktok"></iconify-icon>
    </a>
</article>

<style>
    .socials {
        gap: 10px;
    }
</style>