@import url('../global.css');

.colored-brown {
    color: var(--brown);
}

header {
    flex-direction: column;
    color: var(--white);
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.1)), url('../../img/webp/about-hero-image.webp');
    background-position: center 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.heros {
    margin: 20vh 0 30vh;
}

h1 {
    font-family: "Cinzel", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: clamp(1.5625rem, 1.2784rem + 1.4205vw, 2.1875rem);
    color: var(--white);
    margin: 0;
    letter-spacing: 2px;
}

.ish {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.1)), url('../../img/webp/im-ish.webp');
    background-position: center 50%;
    background-size: cover;
    justify-content: center;
}

.ish h1 {
    margin: 30vh 0;
    color: var(--white);
}

.contact {
    text-align: center;
}

.contact h2 {
    text-transform: uppercase;
    font-size: 1.75em;
}

.socials-listed {
    justify-content: center;
    flex-direction: column;
}

.socials-listed a {
    margin: 10px 0;
    gap: 5px;
}

.socials-listed a :first-child {
    font-size: 1.5em;
}