@import url('../global.css');

.btn {
    padding: 0.95em 1.25em;
    border: 1px solid #fff;
    display: inline-block;
}

.padding-l-r-20 {
    overflow-x: hidden;
}

.padding-l-r-20 h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 5% 0;
    font: var(--font-cinzel-400);
    font-size: 1.5em;
}

header {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.1)), url('../../img/webp/heros-image-1.webp');
}

.preloaded-image-2 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.1)), url('../../img/webp/heros-image-2.webp');
}

.preloaded-image-3 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.1)), url('../../img/webp/heros-image-3.webp');
}

.preloaded-image-4 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.1)), url('../../img/webp/heros-image-4.webp');
}

.nav-bar {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.nav-bar a:hover {
    color: var(--brown);
}

.heros {
    width: 95%;
    height: 30vh;
    padding: 0 20px;
    margin: 32vh 0;
    justify-content: space-between;
}

.heros .arrow {
    width: 15%;
    max-height: 30vh;
    aspect-ratio: 1/1;
    padding: 20px 0;
    border-radius: 50%;
    justify-content: center;
    font-size: 3em;
    opacity: 0.3;
    transition: opacity 200ms, background-color 200ms;
}

.heros:hover .arrow {
    opacity: 0.7;
}

.heros .arrow:hover {
    background-color: rgb(255, 255, 255, 0.05);
}

.heros .arrow:first-of-type {
    transform: rotate(-180deg);
}

.heros .heros-info {
    text-align: center;
}

.heros-info h3 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.heros-info h1 {
    font: var(--font-cinzel-400);
    font-size: 1.5em;
}

.heros-info hgroup {
    text-transform: uppercase;
}

.heros-info a {
    text-transform: capitalize;
}

.shop-content {
    gap: 10px;
    justify-content: space-between;
    overflow-x: auto;
}

/* .item {
    flex: 0 1 20%;
} */

.shop-item>img {
    min-width: 20vw;
   max-height: 40vh;
    object-fit: cover;
    object-position: center;
}

.most-recent {
    font-size: 105%;
}

.most-recent-item {
    gap: calc(20px + 5%);
    align-items: flex-start;
    margin: 0 0 7%;
}

figure {
    height: 50vh;
    aspect-ratio: 1/1;
    background-color: var(--brown);
    position: relative;
}

figure img {
    height: inherit;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transform: translate(10%, 12%);
    transition: transform 200ms ease;
}

figure::after {
    position: absolute;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font: var(--font-cinzel-400);
}

figure:hover img {
    transform: translate(0, 0.5%);
}

figure[data-num="1"]::after {
    content: "gentle luxury";
}

figure[data-num="2"]::after {
    content: "spotlight";
}

figure[data-num="3"]::after {
    content: "pinterest";
}

.most-recent-item:nth-of-type(odd) figure::after {
    left: 2.5%;
    bottom: -11%;
    transition: 200ms ease;
}

.most-recent-item:nth-of-type(odd) figure:hover::after {
    bottom: 1%;
    opacity: 0;
}

.most-recent-item:nth-of-type(even) figure::after {
    right: 2.5%;
    bottom: -11%;
    transition: 200ms ease;
}

.most-recent-item:nth-of-type(even) figure:hover::after {
    bottom: -1%;
    opacity: 0;
}

.padding-l-r-20 :not(.shop) article {
    text-align: left;
    align-self: flex-end;
}

.padding-l-r-20 :not(.shop) article h2 {
    text-transform: uppercase;
    font: var(--font-cinzel-400);
    font-size: 1.25em;
}

.padding-l-r-20 :not(.shop) article a {
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 200ms;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.padding-l-r-20 :not(.shop) article a>.growing-line {
    width: 0;
    height: 2px;
    background-color: var(--black);
    transition: width 200ms, background-color 200ms;
}

.padding-l-r-20 :not(.shop) article a:hover {
    color: var(--brown);
}

.padding-l-r-20 :not(.shop) article a:hover .growing-line {
    width: 20px;
    margin-right: 10px;
    background-color: var(--brown);
}

.padding-l-r-20 section article p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.most-recent-item:nth-of-type(even) {
    flex-direction: row-reverse;
}

.most-recent-item:nth-of-type(even) figure img {
    transform: translate(-10%, 12%);
}

.most-recent-item:nth-of-type(even) figure:hover img {
    transform: translate(0, 0.5%);
}

.older-posts-section {
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}

.older-posts-section .box {
    text-transform: uppercase;
    width: 20vw;
    max-height: 30vh;
    aspect-ratio: 1/1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;
    flex: auto;
}

.box:nth-of-type(1) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url('../../img/webp/skincare.webp');
    background-position: center 60%;
}

.box:nth-of-type(2) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url('../../img/webp/fashion.webp');
    background-position: center 60%;
}

.box:nth-of-type(3) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url('../../img/webp/lifestyle.webp');
    background-position: center 60%;
}

.box:nth-of-type(4) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url('../../img/webp/home.webp');
    background-position: center 60%;
}

.box:nth-of-type(5) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url('../../img/webp/beauty.webp');
    background-position: center 60%;
}

.box:nth-of-type(6) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url('../../img/webp/finds.webp');
    background-position: center 60%;
}

.box:nth-of-type(7) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url('../../img/webp/cars.webp');
    background-position: center 60%;
}

.box:nth-of-type(8) {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1)), url('../../img/webp/travel.webp');
    background-position: center 60%;
}

.personal-blog-featured {
    width: 90%;
    margin-block: 5%;
    margin-inline: auto;
    background-color: var(--black);
    padding: 5% 5% 7.5%;
    color: var(--white);
    column-gap: 10%;
    align-items: flex-start;
}

.personal-blog-featured figure {
    height: 30vh;
}

.personal-blog-featured figure img {
    height: 100%;
}