<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles/about.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" async></script>
    <title>InfluenceStyle - About Me</title>
</head>
<body>
    <header class="flex">
        <%- include('./partials/header') %>
        <section class="heros">
            <h1>InfluenceStyle</h1>
        </section>
    </header>
    <article class="padding-l-r-10 padding-u-d-10">
        Launched on instagram back in April 2019. Influencstyle formally known as FindsDupes which was aimed to post cheaper alternatives “Dupes” of celebrity, influencer fashion.
        <br><br>
        While Instagram was a great starting point, I realized my passion extended beyond just helping people discover dupes. 
        <br><br>
        With a deep appreciation for runway fashion, quiet luxury fashion and makeup, travel, tech, history and many more, I decided to create this blog to share my diverse interests.
        <br><br>
        I hope you all will love my content
        <br><br>
        <span class="colored-brown">xo ish</span>
    </article>
    <section class="ish flex">
        <h1>HELLO, I'M ISH</h1>
    </section>
    <article class="padding-l-r-10 padding-u-d-10">
        Raised from my maternal grandparents in my early years in Surulere, Lagos Nigeria. My interest in fashion starting when my grandma would go to Balogun Market to buy varieties of clothes and jewelry. She would buy ring, anklets, toe ring as she raised her daughters with.
        <br><br>
        As a socially awkward person, it’s being hard to come out of my shell but going up along side the internet was an amazing revenue to show what I love. I don’t like taking pictures or showing my face not enough self love i guess but another aim for this blog is to one day be confident enough to put myself out there.
        <br><br>
        Fast forward a few years later, I’m 23 years old Product Designer just living life one step at the time
    </article>
    <section class="padding-l-r-10 contact">
        <h2>contact</h2>
        <p>For Collaboration Business, Inquiries and Invites <br> <span class="colored-brown">influencstyle@gmail.com</span></p>
        <ul class="socials-listed flex">
            <a href="#" class="flex">
                <iconify-icon icon="mdi:instagram"></iconify-icon>
                <span class="colored-brown">_influencestyle</span>
            </a>
            <a href="#" class="flex">
                <iconify-icon icon="mdi:pinterest"></iconify-icon>
                <span class="colored-brown">theishjournal</span>
            </a>
            <a href="#" class="flex">
                <iconify-icon icon="ic:baseline-tiktok"></iconify-icon>
                <span class="colored-brown">influencestyle</span>
            </a>
        </ul>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>