<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles/index.css">
    <link rel="stylesheet" href="./css/styles/partials.css">
    <link rel="stylesheet" href="./css/responsive/index.css">
    <link rel="stylesheet" href="./css/responsive/partials.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" async></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>InfluenceStyle</title>
</head>

<body>
    <script>AOS.init({ duration: 700 });</script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <header class="flex" id="header">
        <aside class="nav-background flex" id="mobile-nav-bar">
            <button type="button" id="close-mobile-nav-bar">&times;</button>
            <ul class="nav-bar mobile flex">
                <a href="/about">About</a>
                <a href="#">Shop</a>
                <a href="#">Blog &gt;</a>
                <a href="#">Categories &gt;</a>
            </ul>
            <section class="mobile-socials">
                <a href="#">
                    <iconify-icon icon="mdi:instagram"></iconify-icon>
                </a>
                <a href="#"><iconify-icon icon="mdi:pinterest"></iconify-icon></a>
                <a href="#">
                    <iconify-icon icon="ic:baseline-tiktok"></iconify-icon>
                </a>
            </section>
        </aside>
        <%- include('./partials/header') %>
        <section class="swiper heros flex">
                <div class="swiper-wrapper">
                    <article class="slide swiper-slide">
                        <img src="./img/webp/heros-image-1.webp" alt="blog image 1" class="slide-image" loading="lazy">
                        <main class="heros-info">
                            <hgroup>
                                <h3>fashion</h3>
                                <h1>khy<br>fast fashion favourites</h1>
                            </hgroup>
                            <a href="#" class="btn glassmorph">read more</a>
                        </main>
                    </article>
                    <article class="slide swiper-slide">
                        <img src="./img/webp/heros-image-2.webp" alt="blog image 2" class="slide-image" loading="lazy">
                        <main class="heros-info">
                            <hgroup>
                                <h3>high jewelry</h3>
                                <h1>BVLGARI <br> Old Money Luxury</h1>
                            </hgroup>
                            <a href="#" class="btn glassmorph">read more</a>
                        </main>
                    </article>
                    <article class="slide swiper-slide">
                        <img src="./img/webp/heros-image-3.webp" alt="blog image 3" class="slide-image" loading="lazy">
                        <main class="heros-info">
                            <hgroup>
                                <h3>runway</h3>
                                <h1>Jennie makes her runway debut at Jacquemus show</h1>
                            </hgroup>
                            <a href="#" class="btn glassmorph">read more</a>
                        </main>
                    </article>
                    <article class="slide swiper-slide">
                        <img src="./img/webp/heros-image-4.webp" alt="blog image 4" class="slide-image" loading="lazy">
                        <main class="heros-info">
                            <hgroup>
                                <h3>destinations</h3>
                                <h1>OSAKA, JAPAN <br> Prepare for your next trip</h1>
                            </hgroup>
                            <a href="#" class="btn glassmorph">read more</a>
                        </main>
                    </article>
                </div>

                <div class="swiper-pagination"></div>
        </section>
    </header>

    <script>
        const swiper = new Swiper(".heros", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 7500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            }
        });
    </script>

    <section class="padding-l-r-20">
        <section class="shop">
            <h1 data-aos="fade-up">Shop</h1>
            <article class="shop-content flex">
                <div class="shop-item" data-aos="fade-left" data-aos-delay="0">
                    <img src="./img/webp/shop-item-1.webp" alt="shopping item">
                </div>
                <div class="shop-item" data-aos="fade-left" data-aos-delay="200">
                    <img src="./img/webp/shop-item-2.webp" alt="shopping item">
                </div>
                <div class="shop-item" data-aos="fade-left" data-aos-delay="400">
                    <img src="./img/webp/shop-item-3.webp" alt="shopping item">
                </div>
                <div class="shop-item" data-aos="fade-left" data-aos-delay="600">
                    <img src="./img/webp/shop-item-4.webp" alt="shopping item">
                </div>
            </article>
        </section>
        <section class="most-recent">
            <h1 data-aos="fade-up" data-aos-delay="200">most recent</h1>
            <section class="most-recent-item flex">
                <figure data-num="1" data-aos="zoom-out-right" data-aos-delay="200">
                    <img src="./img/webp/section-image-1.webp" alt="image of a wide leg pants">
                </figure>
                <article data-aos="fade-up" data-aos-duration="1000">
                    <h2>my obsession with wide leg pants</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, optio. Repellendus possimus ad
                        fuga aperiam iure tenetur minima a nesciunt. Perspiciatis possimus modi vitae voluptatum
                        exercitationem nesciunt, assumenda dignissimos fugiat!</p>
                    <a href="#" class="flex"><span class="growing-line"></span>read more</a>
                </article>
            </section>
            <section class="most-recent-item flex">
                <figure data-num="2" data-aos="zoom-out-left">
                    <img src="./img/webp/section-image-2.webp" alt="image of a glam and glitter lady">
                </figure>
                <article data-aos="fade-up" data-aos-duration="1000">
                    <h2>tamara glam and glitter</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, optio. Repellendus possimus ad
                        fuga aperiam iure tenetur minima a nesciunt. Perspiciatis possimus modi vitae voluptatum
                        exercitationem nesciunt, assumenda dignissimos fugiat!</p>
                    <a href="#" class="flex"><span class="growing-line"></span>read more</a>
                </article>
            </section>
            <section class="most-recent-item flex">
                <figure data-num="3" data-aos="zoom-out-right">
                    <img src="./img/webp/section-image-3.webp" alt="image of a long nails">
                </figure>
                <article data-aos="fade-up" data-aos-duration="1000">
                    <h2>my nails pinterest board</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, optio. Repellendus possimus ad
                        fuga aperiam iure tenetur minima a nesciunt. Perspiciatis possimus modi vitae voluptatum
                        exercitationem nesciunt, assumenda dignissimos fugiat!</p>
                    <a href="#" class="flex"><span class="growing-line"></span>read more</a>
                </article>
            </section>
        </section>
        <h1 data-aos="fade-up">older posts</h1>
        <section class="older-posts-section flex">
            <a href="#" class="box" data-aos="zoom-out">skincare</a>
            <a href="#" class="box" data-aos="zoom-out">fashion</a>
            <a href="#" class="box" data-aos="zoom-out">lifestyle</a>
            <a href="#" class="box" data-aos="zoom-out">home</a>
            <a href="#" class="box" data-aos="zoom-out">beauty</a>
            <a href="#" class="box" data-aos="zoom-out">finds</a>
            <a href="#" class="box" data-aos="zoom-out">cars</a>
            <a href="#" class="box" data-aos="zoom-out">travel</a>
        </section>
        <section class="personal-blog-featured flex">
            <figure>
                <img src="./img/webp/about-me.webp" alt="image of a wrist chain">
            </figure>
            <article data-aos="fade-up" data-aos-duration="1000">
                <h2>influence style</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, optio. Repellendus possimus ad fuga
                    aperiam iure tenetur minima a nesciunt. Perspiciatis possimus modi vitae voluptatum exercitationem
                    nesciunt, assumenda dignissimos fugiat!</p>
                <a href="#">about me</a>
            </article>
        </section>
    </section>
    <%- include('./partials/footer') %>

    <script src="./js/global.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>