@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:wght@200;400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif, system-ui;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    padding-inline-start: 0;
    list-style-type: none;
}

figure {
    margin: 0;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

input, button {
    border: none;
    outline: none;
    cursor: pointer;
}

header .socials {
    margin: 0 20% ;
    justify-content: space-evenly;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.glassmorph {
    backdrop-filter: blur(5px);
}

.padding-u-d-10 {
    padding-block: 3%;
}

.padding-l-r-10 {
    padding-inline: 3%;
}

.padding-l-r-20 {
    padding: 0 5%;
}

.none {
    display: none;
}

:root {
    --brown: #b08968;
    --black: #2e2d32;
    --white: #ffffff;
    --font-cinzel-400: 400 "Cinzel", serif;
}

@media screen and (max-width : 790px) {
    body {
        font-size: 14px;
    }
}